h1 {
    color: steelblue;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(238, 49, 153);
    padding: 50px;
    border: 10px solid rgb(221, 158, 23);
}

#spanId{
    font-size: 18px;
    margin: 50px;
}